<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Last-Modified" content="0">
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Scripts -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/menu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/common.css" media="screen" />

	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script type="text/javascript" src="js/constants.js"></script>
	<script type="text/javascript" src="js/commonFunctions.js"></script>
	<script type="text/javascript" src="js/formFunctions.js"></script>
	<script type="text/javascript" src="js/validations.js"></script>
	<script type="text/javascript" src="js/lang.js"></script>
	<script type="text/javascript" src="js/login.js"></script>
	<script type="text/javascript" src="js/categoryManagement.js"></script>
	<script type="text/javascript" src="js/pagination.js"></script>
	<script type="text/javascript" src="js/md5.js"></script>
	<script type="text/javascript" src="Locale/Lang_EN.js"></script>
	<script type="text/javascript" src="Locale/Lang_ES.js"></script>
	<script type="text/javascript" src="Locale/Lang_GA.js"></script>
</head>

<body onload="
(async ()=>{
    await userRole();
	checkPermissions();
	loadLang(); 
	includeFooter();
	includeBreadCrumb('categoryManagement');
    await loadCategoryData();
	await loadUserData();
	await userNotifications();
    fillCreator();
	addButton();
	setLang('');
})();">
	<!--MENU-->
	<div id="topMenu"></div>

	<!--BREADCRUMB-->
	<nav id="breadcrumb" aria-label="breadcrumb"></nav>

	<!--TITULO-->
	<h1 class="gestion bg-dark GESTION_CATEGORIAS"></h1>

	<!--TABLA-->
	<div id="tablaDatos" class="mt-3">
		<!--BOTON AÑADIR-->
		<div id="btnAdd"></div>

		<!--TABLA-->
		<div>
			<table class="table table-bordered text-center" id="tablaCategorias">
				<thead class="headerGestionCategorias">
					<!--ID-->
					<th scope="col">
						<div class="idCategoriaColumn ID"></div>
						<div name="btnOrdenar" value="Ordenar" onclick="sortTable(0, 'tablaCategorias')"
							class="tooltip7">
							<img class="iconoOrdenar" src="Resources/ordenacion.png" alt="Ordenar" />
							<span class="tooltiptext ORDENAR"></span>
						</div>
					</th>
					<!--NOMBRE-->
					<th scope="col">
						<div class="nombreCategoriaColumn NOMBRE"></div>
						<div name="btnOrdenar" value="Ordenar" onclick="sortTable(1, 'tablaCategorias')"
							class="tooltip7">
							<img class="iconoOrdenar" src="Resources/ordenacion.png" alt="Ordenar" />
							<span class="tooltiptext ORDENAR"></span>
						</div>
						<div>
							<input type="text" id="bnombre" class="mt-1 form-control" style="display:none"
								onkeyup="filtrar()">
						</div>
					</th>
					<!--DESCRIPCION-->
					<th scope="col">
						<div class="descripcionCategoriaColumn DESCRIPCION"></div>
						<div name="btnOrdenar" value="Ordenar" onclick="sortTable(2, 'tablaCategorias')"
							class="tooltip7">
							<img class="iconoOrdenar" src="Resources/ordenacion.png" alt="Ordenar" />
							<span class="tooltiptext ORDENAR"></span>
						</div>
						<div>
							<input type="text" id="bdescripcion" class="mt-1 form-control" style="display:none"
								onkeyup="filtrar()">
						</div>
					</th>
					<!--PADRE-->
					<th scope="col">
						<div class="padreCategoriaColumn CATEGORIA_PADRE"></div>
						<div name="btnOrdenar" value="Ordenar" onclick="sortTable(3, 'tablaCategorias')"
							class="tooltip7">
							<img class="iconoOrdenar" src="Resources/ordenacion.png" alt="Ordenar" />
							<span class="tooltiptext ORDENAR"></span>
						</div>
						<div>
							<input type="text" id="bpadre" class="mt-1 form-control" style="display:none"
								onkeyup="filtrar()">
						</div>
					</th>
					<!--CREADOR-->
					<th scope="col">
						<div class="creadorCategoriaColumn CREADOR"></div>
						<div name="btnOrdenar" value="Ordenar" onclick="sortTable(4, 'tablaCategorias')"
							class="tooltip7">
							<img class="iconoOrdenar" src="Resources/ordenacion.png" alt="Ordenar" />
							<span class="tooltiptext ORDENAR"></span>
						</div>
						<div>
							<input type="text" id="bcreador" class="mt-1 form-control" style="display:none"
								onkeyup="filtrar()">
						</div>
					</th>
					<!--MODIFICADOR-->
					<th scope="col">
						<div class="modificadorCategoriaColumn MODIFICADOR"></div>
						<div name="btnOrdenar" value="Ordenar" onclick="sortTable(5, 'tablaCategorias')"
							class="tooltip7">
							<img class="iconoOrdenar" src="Resources/ordenacion.png" alt="Ordenar" />
							<span class="tooltiptext ORDENAR"></span>
						</div>
						<div>
							<input type="text" id="bmodificador" class="mt-1 form-control" style="display:none"
								onkeyup="filtrar()">
						</div>
					</th>
					<!--ACCIONES-->
					<th scope="col" class="ACCIONES">
						<div class="ACCIONES"></div>
					</th>
				</thead>
				<tbody id="datosEntidades" class="bodyGestionCategorias">
			</table>
			<div class="filasTabla">
				<div id="contadorPaginas"></div>
			</div>
		
			<div class="paginacion" id="paginacion">
		</div>
	</div>

	<!--MODAL AÑADIR CATEGORIA-->
	<div class="modal modal2 fade" id="registro-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="registromodal-container">
				<h1 class="ANADIR_CATEGORIA mt-3"></h1>
				<form name="formularioCategoria" id="formularioCategoria" action="javascript:addCategory()"
					onsubmit="return checkAddCategory()">
					<div class="tab-content">
						<div id="datosCategoria" class="m-3 tab-pane active overflow-auto">
							<!--NOMBRE-->
							<div class="row">
								<div class="form-group col-12">
									<label class="CATEGORIA_NOMBRE"></label>
									<div class="obligatorio tooltip2" id="obligatorioNombre">*
										<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO">Campo
											obligatorio</span>
									</div>
									<input type="text" name="nombre" id="nombreC" placeholder="Nombre"
										class="CATEGORIA_NOMBRE form-control" maxlength="45" size="45"
										onblur="return checkName('nombreC', 'errorFormatNameCategory', 'nameCategoryRegister')">
									<div style="display:none" id="errorFormatNameCategory"></div>
								</div>
							</div>

							<!--DESCRIPCION-->
							<div class="row">
								<div class="form-group col-12">
									<label class="CATEGORIA_DESCRIPCION"></label>
									<div class="obligatorio tooltip2" id="obligatorioDescripcion">*
										<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO">Campo
											obligatorio</span>
									</div>
									<textarea type="text" name="descripcion" id='descripcionC' maxlength="500" rows="10"
										placeholder="..." class="form-control"
										onblur="return checkDescription('descripcionC', 'errorFormatDescripcionC', 'descriptionCategoryRegister');"></textarea>
									<div style="display:none" id="errorFormatDescripcionC"></div>
								</div>
							</div>

							<div class="row">
								<!--PADRE-->
								<div class="form-group col-md-6 col-sm-12">
									<label class="CATEGORIA_PADRE"></label>
									<div class="obligatorio tooltip2" id="obligatorioPadre">*
										<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO">Campo
											obligatorio</span>
									</div>
									<div class="obligatorio tooltip2" id="obligatorioPadre" style="display:none">*
										<span class="tooltiptext2 CAMPO_OBLIGATORIO"></span>
									</div>
									<select name='id_categoria_padre' id='select_id_padre'
										class="form-control"></select>
									<div id="errorFormatoCategoriaPadre" style="display:none"></div>
								</div>

								<!--CREADOR-->
								<input type="hidden" name="dni_usuario_creacion" id='creadorC' readonly
									placeholder="Creador" class="CATEGORIA_CREADOR form-control">

								<!--MODIFICADOR-->
								<div class="form-group col-md-6 col-sm-12">
									<label class="CATEGORIA_MODIFICADOR"></label>
									<div class="obligatorio tooltip2" id="obligatorioModificador">*
										<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO">Campo
											obligatorio</span>
									</div>
									<div class="obligatorio tooltip2" id="obligatorioModificador" style="display:none">*
										<span class="tooltiptext2 CAMPO_OBLIGATORIO"></span>
									</div>
									<select name='dni_usuario_modificacion' id='select_id_modificador'
										class="form-control"></select>
									<div id="errorFormatoCategoriaModificador" style="display:none"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<button type="submit" name="btnRegistrar" value="Registrar"
								class="btnRegistrar tooltip3 border border-secondary">
								<img class="iconoRegistrar iconRegistrar" src="Resources/registrar3.png"
									alt="Registrar" />
								<span class="tooltiptext3 ANADIR_CATEGORIA"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--MODAL ACCIONES-->
	<div class="modal fade" id="formularioAcciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg" id="contenidoForm">
			<div class="formularioAcciones-container">
				<h1 class="TITULO_MODAL mt-3"></h1>
				<form name="formularioGenerico" id="formularioGenerico" action="" onsubmit="">
					<div id="datosPersonales" class="m-3 tab-pane active overflow-auto"><br>
						<div class="row">
							<!--ID-->
							<div class="form-group col-md-3 col-sm-12">
								<label class="CATEGORIA_ID" id="label_categoria_id" style="display:none"></label>
								<div class="obligatorio tooltip2" id="obligatorio_categoria_id" style="display:none">*
									<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO"></span>
								</div>
								<input type="text" disabled maxlength="48" placeholder="" name="id_categoria_visible"
									id="input_id_categoria_visible" style="display:none"
									class="CATEGORIA_ID id form-control" onblur="" />
								<!--ID OCULTO-->
								<input type="hidden" name="id_categoria" id="input_id_categoria" />
								<div id="errorFormatoId" style="display:none"></div>
							</div>
							<!--NOMBRE-->
							<div class="form-group col-md-9 col-sm-12">
								<label class="CATEGORIA_NOMBRE" id="label_categoria_nombre"
									style="display:none"></label>
								<div class="obligatorio tooltip2" id="obligatorio_categoria_nombre"
									style="display:none">*
									<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO"></span>
								</div>
								<input type="text" maxlength="48" placeholder="" name="nombre"
									id="input_nombre_categoria" style="display:none"
									class="CATEGORIA_NOMBRE form-control" onblur="" />
								<div id="errorFormatoNombre" style="display:none"></div>
							</div>
						</div>
						<!--DESCRIPCION-->
						<div class="row">
							<div class="form-group col-12">
								<label class="CATEGORIA_DESCRIPCION" id="label_categoria_descripcion"
									style="display:none"></label>
								<div class="obligatorio tooltip2" id="obligatorio_categoria_descripcion"
									style="display:none">*
									<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO"></span>
								</div>
								<textarea maxlength="1048" placeholder="" name="descripcion" rows="6"
									id="input_descripcion_categoria" style="display:none"
									class="CATEGORIA_DESCRIPCION form-control" onblur=""></textarea>
								<div id="errorFormatoDescripcion" style="display:none"></div>
							</div>
						</div>
						<!--PADRE-->
						<div class="row">
							<div class="form-group col-12">
								<label class="CATEGORIA_PADRE" id="label_categoria_padre" style="display:none"></label>
								<div class="obligatorio tooltip2" id="obligatorio_categoria_padre" style="display:none">
									*
									<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO"></span>
								</div>
								<select name='id_categoria_padre' id='input_padre_categoria' class="form-control"
									style="display:none"></select>
								<div id="errorFormatoPadre" style="display:none"></div>
							</div>
						</div>
						<!--CREADOR-->
						<div class="row">
							<div class="form-group col-12">
								<label class="CATEGORIA_CREADOR" id="label_categoria_creador"
									style="display:none"></label>
								<div class="obligatorio tooltip2" id="obligatorio_categoria_creador"
									style="display:none">*
									<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO"></span>
								</div>
								<input type="text" disabled maxlength="48" placeholder=""
									name="dni_usuario_creacion_visible" id="input_creador_categoria_visible"
									style="display:none" class="CATEGORIA_CREADOR form-control" onblur="" />
								<!--CREADOR OCULTO-->
								<input type="hidden" name="dni_usuario_creacion" id="input_creador_categoria" />
								<div id="errorFormatoCreador" style="display:none"></div>
							</div>
						</div>
						<!--MODIFICADOR-->
						<div class="row">
							<div class="form-group col-12">
								<label class="CATEGORIA_MODIFICADOR" id="label_categoria_modificador"
									style="display:none"></label>
								<div class="obligatorio tooltip2" id="obligatorio_categoria_modificador"
									style="display:none">*
									<span class="tooltiptext2 campoObligatorio CAMPO_OBLIGATORIO"></span>
								</div>
								<select name='dni_usuario_modificacion' id='input_modificador_categoria'
									class="form-control" style="display:none"></select>
								<div id="errorFormatoModificador" style="display:none"></div>
							</div>
						</div>
					</div>

					<!--BOTON ACCION-->
					<div class="row">
						<div class="col-12">
							<button type="submit" name="btnAcciones" value="" class="tooltip6 border border-dark"
								id="btnAcciones">
								<img class="" src="" alt="" id="iconoAcciones" />
								<span class="tooltiptext" id="spanAcciones"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- MODAL DELETE -->
	<div class="modal fade" id="myModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title ELIMINAR_CATEGORIA" id="myModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="CONFIRMAR_ELIMINAR"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary ICONO_CERRAR" data-dismiss="modal"></button>
					<button type="button" id="btnDelete" class="btn btn-primary ELIMINAR_CATEGORIA"></button>
				</div>
			</div>
		</div>
	</div>

	<!--MODAL VER PERFIL-->
	<div class="modal modal3 fade" id="viewProfile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog"></div>
	</div>

	<!--MODAL CAMBIO CONTRASEÑA-->
	<div class="modal modal3 fade" id="changePass-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" style="display: none;">
	</div>

	<!--MODAL ALERTAS-->
	<div id="modal" tabindex="-1" role="dialog" style="display:none">
		<div class="modal-dialog" role="document" id="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<img src="" name="aviso" class="imagenAviso" />
					<h3 id="modal-title" class="modal-title"></h3>
				</div>
				<div id='modal-mensaje' class="modal-body"></div>
				<div class="modal-footer">
					<a id="close" href="#" onclick="closeModal('modal'); loadCategoryData();" class="tooltip5">
						<img class="closeIcon" alt="Cerrar" src="Resources/close.png" />
						<span class="tooltiptext5 ICONO_CERRAR"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>

	
	</div>

	<div id="footer"></div>
</body>